{% extends 'webAdminRadio/base_site.html' %}
{% load static from staticfiles %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/agregar_segmento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}
{% block content %}
    {% if error %}
    <div id="componente_modal_info">
        <modal-info v-if="showModal" url_redirect="">
            <h3 slot="header">Error</h3>
            <div slot="body">
                <p>Existen algunos errores en los siguientes campos:</p>
                {% for campo,e in error.items %}
                    <h5>{{campo}}</h5>
                    {{e}}
                {% endfor %}
            </div>
        </modal-info>
    </div>
    {% endif %}
    {% if success %}
    <div id="componente_modal_info">
    <modal-info v-if="showModal" url_redirect="{% url 'webadminradio:encuestas' %}">
        <h3 slot="header">Información</h3>
        <p slot="body">{{success}}</p>
    </modal-info>
    </div>
    {% endif %}
    <form id="addEncuesta" onsubmit="return validate()" action="{% url 'webadminradio:modificar_encuesta' encuesta.id %}" method="POST">
        {% csrf_token %}
        <!-- Selección de emisora y segmento-->
        <h5><b>Seleccion de Emisora</b></h5>
        <div class="form-group">
            <label for="emisoraSelect" class="col-sm-1"><b>Emisora</b></label>
            <select id="emisoraSelect" class="custom-select form-control col-sm-4" name="emisora" oninvalid="this.setCustomValidity('Ingrese una emisora válida')" required oninput="this.setCustomValidity('')">
                {% for emisora in emisoras %}
                    <option value="{{ emisora.id }}">{{ emisora.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="segmentoSelect" class="col-sm-1"><b>Segmento</b></label>
            <select id="segmentoSelect" class="custom-select form-control col-sm-4" name="segmento" oninvalid="this.setCustomValidity('Ingrese una emisora válida')" required oninput="this.setCustomValidity('')">
                {% for segmento in segmentos %}
                    <option value="{{ segmento.id }}">{{ segmento.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <hr>
        <!-- Información de la encuesta -->
        <h5><b>Informacion de la encuesta</b></h5>
        <div class="form-group">
            <label id="titulo">Título</label>
            <input id="titulo" name="titulo" class="form-control col-sm-11" type="text" value="{{ encuesta.titulo }}" oninvalid="this.setCustomValidity('Ingrese un título de la encuesta')" oninput="this.setCustomValidity('')" required>
        </div>
        <div class="form-group">
            <label id="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" row="3" oninvalid="this.setCustomValidity=('Ingrese una descipción válida para la encuesta')" oninput="this.setCustomValidity('')" maxlength="250" required>{{ encuesta.descripcion }}</textarea>
        </div>
        <!-- Fecha fin de la encuesta -->
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Fecha fin:</label>
                <input type= "date" name="dia" value="{{ encuesta.dia_fin|date:'Y-m-d' }}" id="fecha_incioInput" class="custom-select form-control" required>
            </div>
            <div class="form-group col-md-3">
                <label>Hora:</label>
                <input name="hora" type="time" value="{{ encuesta.hora_fin }}" class="form-control" required>
            </div>
        </div>
        <hr>
        <h5><b>Creación de preguntas con sus alternativas</b></h5>
        <div class="form-group">
            <div id="componente_pregunta">
                <encuesta v-on:update-question="updatePregunta($event, index)" v-on:eliminar-pregunta="eliminarPregunta(index)" v-on:agregar-opcion="agregarOpcion(index)" v-on:eliminar-opcion="eliminarOpcion($event, index)" v-for="(preg, index) in preguntas" :key="index" :question="preg.pregunta" :options="preg.opciones" :size="length" :indice="index"></encuesta>
                <button type="button" class="btn btn-primary" @click="agregarPregunta()">Agregar otra pregunta</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg submit"><i class="fas fa-plus-circle"></i>Agregar Encuesta</button>
    </form>
{% endblock %}
{% block page_script %}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/componentes/MultipleQA.js' %}"></script>
    <script type="text/javascript" src="{% static 'webAdminRadio/js/select_em_seg.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        var e_emisora = "{{ encuesta.idEmisora.id|safe }}";
        var e_segmento = "{{ encuesta.idSegmento.id|safe }}";
        var list_preguntas = {{ preguntas|safe }};
    </script>
    <script type="text/javascript" charset="utf-8" src="{% static 'webAdminRadio/js/edit_encuesta_select.js' %}"></script>
{% endblock %}
