{% extends 'webAdminRadio/base_site.html' %}
{% load static from staticfiles %}
{% block cdn_styles %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/componentes/modal_info.css' %}">
{% endblock %}
{% block agregar_button %}
    <a href="{% url 'webadminradio:agregar_encuesta' %}" class="btn btn-primary btn-md ml-auto action" role="button"><i class="fas fa-plus-circle"></i>Agregar encuesta</i></a>
{% endblock %}
{% block content %}
    {% if messages %}
        <div id="componente_modal_info">
            <modal-info v-if="showModal" url_redirect="">
                <h3 slot="header" class="action"><i class="fas fa-info-circle"></i>Información</h3>
                <div slot="body">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </modal-info>
        </div>
    {% endif %}
    <div id="componente_borrar">
    <modal-borrar v-if="showModal">
        <h3 slot="header" class="action"><i class="fas fa-exclamation-triangle "></i>¡Aviso!</h3>
        <div slot="body">
            <p>¿Está seguro de que desea eliminar esta encuesta?</p>
        </div>
    </modal-borrar>
    </div>
    <label for="emisoraSelect" class="col-sm-1"><b>Emisora</b></label>
    <select id="emisoraSelect" class="custom-select form-control col-sm-4" name="emisora" oninvalid="this.setCustomValidity('Ingrese una emisora válida')" required oninput="this.setCustomValidity('')">
        <option selected disabled>Elja una emisora</option>
        {% for emisora in emisoras %}
            <option value="{{ emisora.id }}">{{ emisora.nombre }}</option>
        {% endfor %}
    </select>
    <label for="segmentoSelect" class="col-sm-1"><b>Segmento</b></label>
    <select id="segmentoSelect" class="custom-select form-control col-sm-4" name="segmento" oninvalid="this.setCustomValidity('Ingrese una emisora válida')" required oninput="this.setCustomValidity('')"></select>
    <div class="table-container">
        <table id="data_table" class="table table-striped table-bordered dt-body-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha final</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block page_script %}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{% static 'webAdminRadio/js/select_em_seg.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/componentes/ModalInfoComponent.js' %}"></script>
    <script src="{% static 'webAdminRadio/js/componentes/BorrarComponent.js' %}"></script>
    <script>
        function showWarning(id){
            contenedorBorrar.$data.objects_to_delete = "encuestas";
            contenedorBorrar.$data.id = id;
            contenedorBorrar.$data.showModal = true;
        }
    </script>
{% endblock %}
