<!-- Usar esta plantilla para crear cualquier nueva página 
    NO SOBRESCRIBIR ESTE ARCHIVO
-->
{% extends 'webAdminRadio/base_site.html' %}
{% load static from staticfiles %}
{% load webadmin_tags %} <!-- Carga los custom tags de ser necesarios, borrarla si no se la utilizará -->
{% block page_style %}
    <!-- Bloque para los estilos de la página -->
{% endblock %}
{% block content %}
    <!-- Bloque para el contenido de la página-->
{% endblock %}
{% block page_script %}
    <!-- Bloque para los scripts -->
{% endblock %}
