{% extends 'webAdminRadio/base_site.html' %}
{% load static from staticfiles %}
{% load webadmin_tags %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/ver_locutor.css' %}">
{% endblock %}
{% block content %}
    <h2><b>{{ locutor.first_name }}  {{ locutor.last_name }}</b></h2>
    <div class="img-container">
        {% if locutor.imagen %}
            <img class="image info" src="{{ locutor.imagen.url }}">
        {% else %}
            <img class="image info" src="{% static 'webAdminRadio/images/generic_avatar.png' %}">
        {% endif %}
    </div>
    <div class="row info">
        <label class="col-sm-3"><b>Fecha de nacimiento:</b></label>
        <label class="col-sm-9">{{ locutor.fecha_nac }}</label>
    </div>
    <div class="row info">
        <label class="col-sm-3"><b>Telefono:</b></label>
        <label class="col-sm-9">{{ telefono.nro_telefono }}</label>
    </div>
    <div class="row info">
        <label class="col-sm-3"><b>Correo electrónico:</b></label>
        <label class="col-sm-9">{{ locutor.email }}</label>
    </div>
    <div class="row info">
        <label class="col-sm-3"><b>Apodo:</b></label>
        <label class="col-sm-9">{{ locutor.apodo }}</label>
    </div>
    <div class="row info">
        <label class="col-sm-3"><b>Biografia:</b></label>
        <label class="col-sm-9">{{ locutor.biografia }}</label>
    </div>
    <div class="row info">
        <label class="col-sm-3"><b>Hobbies:</b></label>
        <label class="col-sm-9">{{ locutor.hobbies }}</label>
    </div>
    <h4><b>Programas</b></h4>
    <ul class="list-group col-sm-8">
        {% for seg in segmentos %}
        <li class="list-group-item"><b>Emisora:</b> {{seg.idSegmento.idEmisora.nombre}} <b>Segmento:</b> {{ seg.idSegmento.nombre }}</li>
        {% endfor %}
    </ul>
{% endblock %}
